$color-base-black: #000000;
$color-base-white: #ffffff;
$color-base-gray-200: #f0f5f5;
$color-base-gray-300: #cbd6d6;
$color-base-gray-500: #9faeaf;
$color-base-gray-700: #2e3d45;
$color-brand-primary-300: #0f92ff;
$color-brand-primary-500: #1374de;
$color-brand-primary-900: #003fa2;
$color-brand-secondary-300: #28cccc;
$color-brand-secondary-500: #008e9b;
$color-brand-secondary-900: #007680;
$color-brand-tertiary-500: #ffc800;
$color-highlight-primary-text: #00ffff;
$color-transparency-light-10: rgba(255, 255, 255, 0.1);
$color-transparency-dark-25: rgba(0, 0, 0, 0.25);
$color-transparency-dark-50: rgba(0, 0, 0, 0.5);
$color-transparency-dark-75: rgba(0, 0, 0, 0.75);
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 375px;
    margin: 0 auto;
    &--1 {
        margin-bottom: 50px;
    }
    &--2 {
        margin-bottom: 50px;
    }
}

.bg__topo {
    background: $color-brand-primary-300;
}

.menu {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.menu a {
    padding: 30px;
    text-decoration: none;
    color: $color-base-white;
    font-size: 20px;
    font-weight: bold;
}

.header {
    max-width: 345px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    &__title {
        color: $color-brand-primary-900;
        font-size: 38px;
        font-weight: bold;
        padding: 10px;
        line-height: 1;
    }
    &__subtitle {
        color: $color-brand-primary-300;
        margin: 0 5px 5px 0;
        line-height: 1.5;
        font-size: 15px;
        font-weight: 400;
    }
}

.rated {
    max-width: 335px;
    margin: 0 auto;
    &__item {
        background: $color-base-gray-200;
        padding: 10px;
        margin: 20px 0 10px 0;
        text-align: center;
        border-radius: 10px;
        h2 {
            font-size: 14px;
            color: $color-brand-primary-500;
            margin: 6px;
        }
        &--star {
            background-image: url(../images/icon-star.svg);
            background-repeat: no-repeat;
            display: inline-block;
            width: 16px;
            height: 17px;
            margin: 3px;
        }
    }
}

.card {
    max-width: 335px;
    margin: 0px auto;
    &__item {
        background: $color-brand-primary-500;
        border-radius: 10px;
        padding: 35px;
        margin-top: 15px;
        p {
            color: $color-base-white;
            line-height: 1.5;
            font-size: 14px;
            font-weight: 100;
            margin-top: 35px;
        }
    }
    &__header {
        display: flex;
        align-items: center;
        img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }
    }
    &__titles {
        margin-left: 20px;
        h2 {
            color: $color-base-white;
            padding: 0;
            margin-bottom: 5px;
            font-size: medium;
        }
        h3 {
            color: $color-highlight-primary-text;
            padding: 0;
            margin: 0;
            font-size: 14px;
            font-weight: 100;
        }
    }
    &__btn {
        display: block;
        margin: 10px auto;
        background: transparent;
        border: none;
        font-size: 16px;
        font-weight: 600;
        color: $color-base-white;
        padding: 5px;
        outline: none;
        &:hover {
            cursor: pointer;
            color: $color-brand-tertiary-500;
        }
    }
}

.card__body {
    // animation: show .5s;
    max-height: 500px;
    transition: all .5s ease;
    overflow: hidden;
}

// @keyframes show {
//     from {
//         opacity: 0;
//         transform: scale(0.8);
//     }
//     to {
//         opacity: 1;
//         transform: scale(1);
//     }
// }
.card__hide {
    max-height: 0;
}

.boxMessage {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    input {
        margin: 0;
        border: none;
        //border-radius: 10px;
        color: $color-base-gray-300;
        border-top: 0
    }
    figure {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-self: center;
        text-decoration: none;
    }
    label {
        font-size: 14px;
        color: $color-base-gray-200;
        margin: 10px 0 10px 0;
    }
    &__title {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-size: 18px;
        background: $color-brand-tertiary-500;
        color: #000000;
        padding: 10px;
        border-radius: 50px;
    }
    &__container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background: $color-brand-secondary-500;
        padding: 30px;
        margin-top: 20px;
        align-items: center;
        border-radius: 10px;
        border: none;
        box-shadow: 2px 2px 3px 3px $color-brand-secondary-900;
    }
    &__id {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 600px;
        input {
            border: none;
            border-bottom: 3px solid $color-base-gray-500;
            background: transparent;
            //box-shadow: 0 0 2px 0 $color-brand-secondary-900;
            height: 25px;
            margin-bottom: 15px;
        }
    }
    &__radio {
        margin: 10px 0;
        display: flex;
        justify-content: center;
        input {
            align-self: center;
            margin: 10px;
        }
    }
    &__image {
        align-self: center;
        background: $color-transparency-dark-25;
        border-radius: 50%;
        padding: 10px;
        width: 70px;
    }
    &__msg {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        textarea {
            margin: 0 0 15px 0;
            background: $color-base-gray-300;
            border-radius: 10px;
            border: none;
            box-shadow: none; //1px 1px 2px 2px $color-brand-secondary-900;
            color: $color-base-gray-300;
            padding: 10px;
        }
        button {
            display: flex;
            padding: 5px 10px;
            background: $color-brand-tertiary-500;
            align-self: flex-end;
            border: none;
            border-radius: 50px;
            box-shadow: 1px 1px 2px 2px $color-brand-secondary-900;
            color: $color-base-black;
            font-size: 12px;
        }
    }
}

@media (min-width: 1440px) {
    body {
        background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top left, bottom right;
        background-attachment: fixed;
    }
    .container {
        margin: 0 auto;
        max-width: 100%;
        &--1 {
            display: flex;
            justify-content: space-around;
            margin-top: 50px;
        }
        &--2 {
            margin-top: 100px;
        }
    }
    .header {
        text-align: left;
        max-width: 500px;
        &__title {
            font-size: 50px;
            padding: 0;
            margin: 15px 0;
        }
        &__subtitle {
            margin: 0;
            font-size: 16px;
        }
    }
    .rated {
        max-width: 800px;
        height: 220px;
        margin-top: 80px;
        min-width: 600px;
        display: flex;
        flex-direction: column;
        &__item {
            display: flex;
            width: 400px;
            &--2 {
                align-self: center;
            }
            &--3 {
                align-self: flex-end;
            }
            h2 {
                margin-left: 20px;
            }
            &--star {
                margin: 5px;
            }
        }
    }
    .card {
        max-width: 1260px;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0, auto;
        &__item {
            max-width: 320px;
            min-height: 108px;
            margin: 10px;
            padding: 35px 25px;
            min-width: 335px;
        }
    }
    .boxMessage {
        max-width: 100%;
        margin: 150px auto;
        background: $color-brand-secondary-500;
        &__container {
            display: block;
            flex-wrap: wrap;
            background: $color-base-gray-200;
            width: 600px;
            margin: 0 auto;
            padding: 30px;
            align-items: center;
            border-radius: 10px;
            border: none;
            box-shadow: none;
        }
        input {
            padding: 10px;
            font-size: 16px;
            color: $color-base-black;
        }
        label {
            font-size: 20px;
            color: $color-base-black;
        }
        &__msg textarea {
            font-size: 16px;
        }
        &__msg button {
            padding: 10px 30px;
            font-size: 16px;
            box-shadow: none;
        }
        &__title {
            width: 100%;
            max-width: 600px;
            font-size: 34px;
            color: $color-base-black;
            padding: 11px;
            &--img {
                background: transparent;
                border: none;
                flex-direction: column;
            }
        }
        &__image {
            width: 30%;
            margin-bottom: 20px;
        }
    }
}

// ------------------------------ PAGINA ABOUT --------------------------//
.bg__topo--container {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.bg__darkblue {
    background: $color-brand-primary-900;
}

.text__baseWhite {
    color: $color-base-white;
}

.text__baseBlack {
    color: $color-base-black;
}

.card__about {
    margin: 0 auto;
    margin-top: 40px;
    width: 60%;
    padding: 25px;
    border-radius: 15px;
    &--img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }
    p {
        font-size: 12px;
        line-height: 1.5;
    }
}

@media (min-width: 1440px) {
    .card__about {
        max-width: 1000px;
        min-height: 420px;
        display: flex;
        justify-content: space-between;
        p {
            font-size: 20px;
            line-height: 1.5;
            padding: 20px;
            width: 50%;
            align-self: center;
            //border: 3px solid;
        }
        &--img {
            width: 40%;
            padding: 30px;
            display: block;
            margin: 0 auto;
            //border: 3px solid;
        }
    }
}

// -------------------------- PÁGINA CONTATO -----------------------//
form {
    display: flex;
    justify-content: center;
}

.formContact {
    display: block;
    flex-direction: column;
    margin-top: 50px;
    min-width: 300px;
    max-width: 600px;
    width: 50%;
    border: none;
    color: $color-base-gray-700;
    font-size: 1rem;
    font-weight: bold;
    input,
    textarea {
        border: 1px solid $color-base-gray-500;
        border-radius: 5px;
    }
    &__id {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        label {
            visibility: hidden;
        }
        input {
            padding: 15px;
        }
    }
    &__icon {
        display: flex;
        input {
            flex-grow: 1;
            margin-left: 10px;
        }
        .fas {
            align-self: center;
        }
    }
}

.formContact__radio {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    // input {
    //     // margin-right: 12px;
    // }
}

.formContact__select {
    display: flex;
    margin-bottom: 20px;
    select {
        flex-grow: 1;
        padding: 5px;
    }
    label {
        margin-right: 10px;
        margin-left: 10px;
        align-self: center;
    }
}

.formContact__msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
    label {
        align-self: center;
        margin-left: 10px;
    }
}

.formContact__button {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    margin-top: 10px;
    background: $color-brand-tertiary-500;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: $color-base-gray-700;
}

@media (min-width: 1440px) {
    .formContact {
        font-size: 20px;
        // margin-top: 20px;
        input {
            // margin-bottom: 20px;
            padding: 15px;
            font-size: 20px;
        }
        &__radio {
            margin-bottom: 30px;
        }
        &__select {
            margin-bottom: 30px;
            select {
                padding: 12px;
                font-size: 1.2rem;
            }
        }
        &__msg {
            .formContact__icon {
                margin-bottom: 10px;
            }
        }
        &__button {
            padding: 15px;
            font-size: 1.5rem;
        }
    }
}