body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(../images/bg-pattern-top-mobile.svg), url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;
  font-family: 'Inter', sans-serif; }

.container {
  max-width: 375px;
  margin: 0 auto; }
  .container--1 {
    margin-bottom: 50px; }
  .container--2 {
    margin-bottom: 50px; }

.bg__topo {
  background: #0f92ff; }

.menu {
  padding: 10px;
  display: flex;
  justify-content: flex-end; }

.menu a {
  padding: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold; }

.header {
  max-width: 345px;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px; }
  .header__title {
    color: #003fa2;
    font-size: 38px;
    font-weight: bold;
    padding: 10px;
    line-height: 1; }
  .header__subtitle {
    color: #0f92ff;
    margin: 0 5px 5px 0;
    line-height: 1.5;
    font-size: 15px;
    font-weight: 400; }

.rated {
  max-width: 335px;
  margin: 0 auto; }
  .rated__item {
    background: #f0f5f5;
    padding: 10px;
    margin: 20px 0 10px 0;
    text-align: center;
    border-radius: 10px; }
    .rated__item h2 {
      font-size: 14px;
      color: #1374de;
      margin: 6px; }
    .rated__item--star {
      background-image: url(../images/icon-star.svg);
      background-repeat: no-repeat;
      display: inline-block;
      width: 16px;
      height: 17px;
      margin: 3px; }

.card {
  max-width: 335px;
  margin: 0px auto; }
  .card__item {
    background: #1374de;
    border-radius: 10px;
    padding: 35px;
    margin-top: 15px; }
    .card__item p {
      color: #ffffff;
      line-height: 1.5;
      font-size: 14px;
      font-weight: 100;
      margin-top: 35px; }
  .card__header {
    display: flex;
    align-items: center; }
    .card__header img {
      border-radius: 50%;
      width: 60px;
      height: 60px; }
  .card__titles {
    margin-left: 20px; }
    .card__titles h2 {
      color: #ffffff;
      padding: 0;
      margin-bottom: 5px;
      font-size: medium; }
    .card__titles h3 {
      color: #00ffff;
      padding: 0;
      margin: 0;
      font-size: 14px;
      font-weight: 100; }
  .card__btn {
    display: block;
    margin: 10px auto;
    background: transparent;
    border: none;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    padding: 5px;
    outline: none; }
    .card__btn:hover {
      cursor: pointer;
      color: #ffc800; }

.card__body {
  max-height: 500px;
  transition: all .5s ease;
  overflow: hidden; }

.card__hide {
  max-height: 0; }

.boxMessage {
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column; }
  .boxMessage input {
    margin: 0;
    border: none;
    color: #cbd6d6;
    border-top: 0; }
  .boxMessage figure {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-decoration: none; }
  .boxMessage label {
    font-size: 14px;
    color: #f0f5f5;
    margin: 10px 0 10px 0; }
  .boxMessage__title {
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    background: #ffc800;
    color: #000000;
    padding: 10px;
    border-radius: 50px; }
  .boxMessage__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #008e9b;
    padding: 30px;
    margin-top: 20px;
    align-items: center;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 3px 3px #007680; }
  .boxMessage__id {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; }
    .boxMessage__id input {
      border: none;
      border-bottom: 3px solid #9faeaf;
      background: transparent;
      height: 25px;
      margin-bottom: 15px; }
  .boxMessage__radio {
    margin: 10px 0;
    display: flex;
    justify-content: center; }
    .boxMessage__radio input {
      align-self: center;
      margin: 10px; }
  .boxMessage__image {
    align-self: center;
    background: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    padding: 10px;
    width: 70px; }
  .boxMessage__msg {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column; }
    .boxMessage__msg textarea {
      margin: 0 0 15px 0;
      background: #cbd6d6;
      border-radius: 10px;
      border: none;
      box-shadow: none;
      color: #cbd6d6;
      padding: 10px; }
    .boxMessage__msg button {
      display: flex;
      padding: 5px 10px;
      background: #ffc800;
      align-self: flex-end;
      border: none;
      border-radius: 50px;
      box-shadow: 1px 1px 2px 2px #007680;
      color: #000000;
      font-size: 12px; }

@media (min-width: 1440px) {
  body {
    background-image: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    background-attachment: fixed; }
  .container {
    margin: 0 auto;
    max-width: 100%; }
    .container--1 {
      display: flex;
      justify-content: space-around;
      margin-top: 50px; }
    .container--2 {
      margin-top: 100px; }
  .header {
    text-align: left;
    max-width: 500px; }
    .header__title {
      font-size: 50px;
      padding: 0;
      margin: 15px 0; }
    .header__subtitle {
      margin: 0;
      font-size: 16px; }
  .rated {
    max-width: 800px;
    height: 220px;
    margin-top: 80px;
    min-width: 600px;
    display: flex;
    flex-direction: column; }
    .rated__item {
      display: flex;
      width: 400px; }
      .rated__item--2 {
        align-self: center; }
      .rated__item--3 {
        align-self: flex-end; }
      .rated__item h2 {
        margin-left: 20px; }
      .rated__item--star {
        margin: 5px; }
  .card {
    max-width: 1260px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0, auto; }
    .card__item {
      max-width: 320px;
      min-height: 108px;
      margin: 10px;
      padding: 35px 25px;
      min-width: 335px; }
  .boxMessage {
    max-width: 100%;
    margin: 150px auto;
    background: #008e9b; }
    .boxMessage__container {
      display: block;
      flex-wrap: wrap;
      background: #f0f5f5;
      width: 600px;
      margin: 0 auto;
      padding: 30px;
      align-items: center;
      border-radius: 10px;
      border: none;
      box-shadow: none; }
    .boxMessage input {
      padding: 10px;
      font-size: 16px;
      color: #000000; }
    .boxMessage label {
      font-size: 20px;
      color: #000000; }
    .boxMessage__msg textarea {
      font-size: 16px; }
    .boxMessage__msg button {
      padding: 10px 30px;
      font-size: 16px;
      box-shadow: none; }
    .boxMessage__title {
      width: 100%;
      max-width: 600px;
      font-size: 34px;
      color: #000000;
      padding: 11px; }
      .boxMessage__title--img {
        background: transparent;
        border: none;
        flex-direction: column; }
    .boxMessage__image {
      width: 30%;
      margin-bottom: 20px; } }

.bg__topo--container {
  display: flex;
  justify-content: center;
  padding: 30px; }

.bg__darkblue {
  background: #003fa2; }

.text__baseWhite {
  color: #ffffff; }

.text__baseBlack {
  color: #000000; }

.card__about {
  margin: 0 auto;
  margin-top: 40px;
  width: 60%;
  padding: 25px;
  border-radius: 15px; }
  .card__about--img {
    width: 50%;
    display: block;
    margin: 0 auto; }
  .card__about p {
    font-size: 12px;
    line-height: 1.5; }

@media (min-width: 1440px) {
  .card__about {
    max-width: 1000px;
    min-height: 420px;
    display: flex;
    justify-content: space-between; }
    .card__about p {
      font-size: 20px;
      line-height: 1.5;
      padding: 20px;
      width: 50%;
      align-self: center; }
    .card__about--img {
      width: 40%;
      padding: 30px;
      display: block;
      margin: 0 auto; } }

form {
  display: flex;
  justify-content: center; }

.formContact {
  display: block;
  flex-direction: column;
  margin-top: 50px;
  min-width: 300px;
  max-width: 600px;
  width: 50%;
  border: none;
  color: #2e3d45;
  font-size: 1rem;
  font-weight: bold; }
  .formContact input,
  .formContact textarea {
    border: 1px solid #9faeaf;
    border-radius: 5px; }
  .formContact__id {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px; }
    .formContact__id label {
      visibility: hidden; }
    .formContact__id input {
      padding: 15px; }
  .formContact__icon {
    display: flex; }
    .formContact__icon input {
      flex-grow: 1;
      margin-left: 10px; }
    .formContact__icon .fas {
      align-self: center; }

.formContact__radio {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px; }

.formContact__select {
  display: flex;
  margin-bottom: 20px; }
  .formContact__select select {
    flex-grow: 1;
    padding: 5px; }
  .formContact__select label {
    margin-right: 10px;
    margin-left: 10px;
    align-self: center; }

.formContact__msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px; }
  .formContact__msg label {
    align-self: center;
    margin-left: 10px; }

.formContact__button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  margin-top: 10px;
  background: #ffc800;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #2e3d45; }

@media (min-width: 1440px) {
  .formContact {
    font-size: 20px; }
    .formContact input {
      padding: 15px;
      font-size: 20px; }
    .formContact__radio {
      margin-bottom: 30px; }
    .formContact__select {
      margin-bottom: 30px; }
      .formContact__select select {
        padding: 12px;
        font-size: 1.2rem; }
    .formContact__msg .formContact__icon {
      margin-bottom: 10px; }
    .formContact__button {
      padding: 15px;
      font-size: 1.5rem; } }
